In [1]:
# Import the required libraries
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from features_helper import *

In [2]:
data_path = 'data/diplomacy_data.json'

# Load the json data
with open(data_path) as data_file:
    data_json = json.load(data_file)

In [3]:
# Load all the seasons and remember their friendship id
seasons = pd.json_normalize(data_json, record_path=['seasons'], meta=['idx'])
# Select only the seasons that correspond to a friendly action (support)
seasons_with_support = seasons[(seasons['interaction.victim'] == 'support') | (seasons['interaction.betrayer'] == 'support')]
# Get the last friendly action for each friendship
last_friendly_action = seasons_with_support.groupby('idx', as_index=False).last()
last_friendly_action = last_friendly_action[['idx', 'season']]
last_friendly_action = last_friendly_action.rename(columns={'season': 'last_season'})
last_friendly_action

     idx  last_season
0      0       1909.0
1      1       1916.0
2      2       1915.5
3      3       1903.5
4      4       1911.5
..   ...          ...
495  495       1911.5
496  496       1912.5
497  497       1908.0
498  498       1906.0
499  499       1904.5

[500 rows x 2 columns]

In [4]:
load_season_features(data_json, last_friendly_action, 'betrayer')

,idx,season,betrayal,support,n_requests,n_words,politeness,n_sentences,sentiment.positive,sentiment.neutral,...,subjectivity,expansion,contingency,premise,planning,comparison,claim,last_season,n_messages,player_type
0,0,1906.5,True,1,3.666667,81.500000,0.803328,4.166667,1.333333,1.333333,...,15.333333,1.000000,0.333333,1.166667,0.500000,1.000000,0.166667,1909.0,6,betrayer
1,0,1907.0,True,1,1.285714,40.000000,0.560083,2.285714,0.142857,0.857143,...,4.857143,0.285714,0.285714,0.428571,0.285714,0.142857,0.142857,1909.0,7,betrayer
2,0,1907.5,True,1,5.500000,166.500000,0.982703,6.500000,2.000000,2.500000,...,28.500000,2.500000,3.500000,1.000000,2.000000,2.000000,2.000000,1909.0,2,betrayer
3,0,1908.0,True,1,3.200000,89.800000,0.748802,4.800000,1.800000,0.800000,...,16.400000,1.800000,1.200000,1.200000,1.000000,0.600000,0.200000,1909.0,5,betrayer
4,0,1908.5,True,1,2.000000,39.000000,0.899161,3.000000,1.000000,1.000000,...,9.500000,1.000000,0.000000,1.000000,0.500000,0.000000,0.000000,1909.0,2,betrayer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741,498,1905.5,True,0,3.000000,136.333333,0.395679,8.666667,1.666667,3.000000,...,23.333333,1.666667,1.666667,2.333333,0.666667,2.000000,1.000000,1906.0,3,betrayer
1742,498,1906.0,True,0,2.000000,71.000000,0.785834,5.000000,2.000000,1.000000,...,11.000000,2.000000,2.000000,1.000000,2.000000,2.000000,0.000000,1906.0,1,betrayer
1743,499,1903.5,True,1,2.000000,62.000000,0.354644,5.500000,0.500000,1.500000,...,8.500000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,1904.5,2,betrayer
1744,499,1904.0,True,0,1.000000,21.500000,0.510478,2.250000,0.500000,0.500000,...,2.750000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,1904.5,4,betrayer
1745,499,1904.5,True,0,2.500000,56.000000,0.352043,6.500000,0.500000,1.500000,...,6.500000,1.500000,0.000000,0.000000,1.000000,0.000000,0.500000,1904.5,2,betrayer